{% extends 'layout/guest.html.twig' %}

{% block title %}gymm. Ошибка 404: страница не найдена{% endblock %}

{% block body %}
    <div class="guest-error">
        <h1>Ошибка 404:<br>
            страница не найдена</h1>
        <p></p>
        <p>
            <a href="/">Вернуться на главную страницу</a>.
        </p>
    </div>
{% endblock %}