{% extends 'layout/guest.html.twig' %}

{% block title %}gymm. Внутренняя ошибка{% endblock %}

{% block body %}
    <div class="guest-error">
        <h1>Внутренняя ошибка</h1>
        <p>
            При обработке вашего запроса на сервере произошла ошибка.
            Возможно, она вызвана временными неполадками на сервере.
            Попробуйте обновить эту страницу позже или вернитесь на <a href="/">на главную страницу</a>.
        </p>
    </div>
{% endblock %}