<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ sitename }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
<div class="header-row">
    <div class="row">
        <div class="col-xs-3">
            <a href="/" class="gm-logo">gymm</a>
        </div>
        <div class="col-xs-9">
            {% block topmenu %}{% endblock %}
        </div>
    </div>
</div>

{% block layout %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
    <script defer src="/js/fontawesome/fontawesome.min.js"></script>
{% endblock %}

{% block fonts %}{% endblock %}

</body>
</html>